canvas
{
	margin: auto;
	display: block;
	position: fixed;
	top: 20%;
	left: 35%;
}


body
{
	background-color: #21723c;
	color: #ffffff;
	font-size: 200%;
	font-family: "Helvetica";
}

table
{
	text-align: right;
}

form
{
	width: 30%;
	position: fixed;
	left: 10%;
	top: 30%;
}

.tockeC1
{
	padding-left: 15%;
	position: fixed;
	top: 40%;
}

.tockeC2
{
	padding-left: 15%;
	position: fixed;
	top: 45%;
}

.changeKeybind
{
	width: 45px;
	height: 45px;
}

.leaderboardSpacing
{
	padding-right: 15px;
	padding-left: 15px;
}

#startImg
{
	position: fixed;
	top: 50%;
	left: 45%;
}

#settingsImg
{
	position: fixed;
	top: 30%;
	left: 55%;
}

#leaderboard
{
	position: fixed;
	top: 40%;
	left: 75%;
	text-align: center;
}

#backImg
{
	position: fixed;
	top: 3%;
	left: 80%;
}

input[type=text]
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: white;
	color: black;
}